:root {
  --btn-bg-color: rgb(30, 144, 255);
  --btn-bg-hover-color: rgb(24, 119, 204);
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1200px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.btn, .custom-file-upload {
  padding: 10px 20px;
  background-color: var(--btn-bg-color) !important;
  color: white !important;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.btn:hover, .custom-file-upload:hover {
  background-color: var(--btn-bg-hover-color) !important;
}

#file-name {
  margin-left: auto;
  font-size: 16px;
  color: #333;
}

/* Estilos para los errores en el editor */
.errorLine {
  background-color: rgba(255, 0, 0, 0.1);
  border-left: 3px solid #ff0000;
}

.errorGlyph {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><circle cx="8" cy="8" r="6" fill="%23ff0000"/></svg>') center center no-repeat;
  margin-left: 5px;
}